
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");


// Bootstrap
@import "bootstrap";
//styles for cover begins here
.head-cover{
  background: url('/images/ab.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
}
.head-cover .logo-text{
  font-size: 36px;
  line-height: 35px;
  color:rgb(202, 110, 61);
  margin: 0px;
  padding-top:5px;
  padding-bottom:5px;
}
//styles for cover ends here
.content{
  margin-top: 0px;
}
.header-space{
  margin-top: 200px;
}
$mybg: #989894;
.well.mybg{
  background-color: $mybg;
}

.fa{
  font-size: 20px;
}
.nav a{
  color: #6b6d6f;
}

.text{
  text-align: center;
  margin-top: 500px;
}
@media(min-width:768px)
{
  input[id="search"] {
    border-radius:25px;
    line-height: 20px;
    margin-left: 50px;
    margin-top: 9px;
    width: auto;
  }
  input[id="search"]:focus {
    width: auto;
    background-color: #fff;
    border-color: #ff5200;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
  }
}
@media(min-width:1200px)
{
  input[id="search"] {
    border-radius:25px;
    line-height: 20px;
    margin-left: 50px;
    margin-top: 9px;
    width: 300px;
  }
  input[id="search"]:focus {
    width: 600px;
    background-color: #fff;
    border-color: #ff5200;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
  }
}
.nav-tabs
{
  li a{
    margin-bottom: -2px;
    background: #d6d4d3;
  }
  li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: #fd9141;
    border: 1px solid #fd4800;
    border-bottom-color: transparent;
    cursor: default;
  }
  margin-left: -15px;
  margin-right: -10px;
}
//styles for posts table
$post-desc-font-size: 14px;
$post-desc-line-height: 1.4;
$post-desc-lines: 5;
$main-color: #d65c02;
$post-bg-color: lighten($main-color, 20%);
@media (min-width:768) {
  .post{
    .post-photo{
      width: 20%;
    }
  }
}
.post{
  position: relative;
  border: 1px solid darken($post-bg-color, 10%);
  border-radius: 4px;
  background: $post-bg-color;
  padding:10px;
  color: white;
  .post-head{
    position: relative;
    left: 30px;
    color: $main-color;
    width: 80%;
    h3{
      margin-top: 0px;
    }
  }
  .post-photo{
    width: 10%;
    display: inline-block;
    position: relative;
    float: left;
    img{
      display: block;
      border-radius: 50%;
      width: 100%;
    }
    .photo-caption{
      margin-top: 10px;
      font-weight: bold;
      display: block;
      text-align: center;
    }
  }
  .post-body{
    width: 80%;
    position: relative;
    left: 30px;
    .post-desc{
      display: block;
      display: -webkit-box;
      font-size: $post-desc-font-size;
      line-height: $post-desc-line-height;
      max-height: $post-desc-font-size*$post-desc-line-height*$post-desc-lines;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .post-tags{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
    .post-status{
      width: 100%;
      border-top: 1px solid white;
      position: relative;
      .span-right{
        float: right;
        padding-right: 5px;
      }
    }
}
//styles for post table ends here


//styles for pagination begins here
$pagination-bg-color: #fd9141;
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
  background: $pagination-bg-color;
  border-color: white;
}
//styles for pagionation end here

//styles for sidebar begins here

form .has-feedback .form-control-feedback {
  pointer-events: all;
}
form .has-feedback button.form-control-feedback {
  pointer-events: all;
  border: none;
  background: transparent;
}

.form-group .form-control-feedback .fa
{
  line-height: 100%;
}
.form-group.has-feedback input{
  padding-right: 40px;
}
.posts_card{
  border-radius: 8px;
  border: 2px solid black;
}
.posts_card h2,p{
  color: white;
}
.profile img{
  width: 100%;
  border-radius: 50%;
}
.profile .name{
  margin-left: 20px;
}
.posts h3{
  margin: 0px;
  color: rgb(162, 53, 1);
}
.posts p{
  color: black;
}
.name{
  padding-top: 10px;
}
.tags {
  margin-top: 70px;
}
.status span
{
  font-size: 16px;
  line-height: 16px;
  margin-right: 10px;
}
.lefttable .well{
  padding-bottom: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
}


.nav .dropdown{
  margin-right: 15px;
}
.nav-tabs > li.active > a {
  color: #3c5a78;
  font-size: 16px;
}
.nav-tabs > li > a {
  color: #575757;
}
.form{
  width: 50%;
}
