.bordered{
    float: left;
    border-radius: 5%;
    margin-bottom: 5px;
}
div.top{
    height: 200px;
margin-bottom: 10px;

}
div.topic{
    height: 90%;
    border:1px solid lightblue;
    background-color: lightblue;
}
p.stat,p.data{
    text-align: center;
    color: white;
}
p{
    color: blue;
}



div.sidecard{
    background-color:lightslategray;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
img.PP{
    border-radius: 60%;

}
p.tpmember{
    font-size: 15px;
    text-align: center;
    color: white;

}
img.tpmpic{
    border-radius: 50%;
    display: inline-block;
}
p.memname,p.Points{
    margin-top: 20px;
    color: white;
    display: inline-block;
}
